<mdb-navbar SideClass="navbar navbar-expand-lg text-white bg-primary ie-nav fixed-top" [containerInside]="false">
  <mdb-navbar-brand class="w-100 text-center">
    <a class="text-white logo" href="#"><i class="far fa-images mx-2"></i><strong>ImageOptimizer</strong></a>
  </mdb-navbar-brand>

</mdb-navbar>
<!-- Main -->
<main>
  <div class="container">
    <div class="row pt-5 mt-5">
      <div class="col text-center">


        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</main>