/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// regular style toast
@import "../node_modules/ngx-toastr/toastr";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



ul.stepper li a .circle {
  line-height: 1.9rem;
}
.filepond--drop-label label {
  cursor: pointer;
}

.filepond--root {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
